In [31]:
import pandas as pd
import numpy as np
import scipy.stats as scp

In [2]:
data = pd.read_csv('cps99_ps3.csv')

,ahe,female,ne,midwest,south,west,race,yrseduc,ba,hsdipl,age
0,10.754048,1,1,0,0,0,1,18,1,1,49
1,10.341881,0,1,0,0,0,1,16,1,1,28
2,18.181818,0,1,0,0,0,1,12,0,1,45
3,20.879122,1,1,0,0,0,1,12,0,1,41
4,17.948717,0,1,0,0,0,1,18,1,1,54
...,...,...,...,...,...,...,...,...,...,...,...
37805,41.208790,0,0,0,0,1,4,19,1,1,51
37806,21.634615,0,0,0,0,1,4,16,1,1,44
37807,8.636364,1,0,0,0,1,4,14,0,1,44
37808,10.544871,0,0,0,0,1,4,13,0,1,33
37809,14.903846,1,0,0,0,1,4,14,0,1,31

In [9]:
ahe = data.ahe.values
ahe_mean = np.mean(ahe)
female = data.female.values
female_mean = np.mean(female)

beta1 = np.sum(female*(ahe - ahe_mean)) / np.sum(female*(female - female_mean))
beta0 = ahe_mean - beta1*female_mean

print(f"a) Коэффициент при female: {beta1}.\nЭто означает то, что женщины зарабатывают на {abs(beta1)} меньше мужчин.")

a) Коэффициент при female: -3.4493520771804604.
Это означает то, что женщины зарабатывают на 3.4493520771804604 меньше мужчин.

In [35]:
# Если среднечасовая ставка для женщин и мужчин одинакова, то beta1 = 0.
# H0: beta1 = 0
# H1: beta1 != 0

residuals = ahe - (beta0 + beta1*female)
std_residuals = np.std(residuals, ddof=1)
t_stat = beta1 / (std_residuals / np.sqrt(np.sum((female - female_mean)**2)))
p_value = scp.t.cdf(t_stat, len(female) - 2)
print("b)")
if p_value < 0.05: 
    print("Отвергаем H0 в пользу H1 => среднечасовая ставка для женщин и мужчин различна.")
else:
    print("Принимаем H0 => среднечасовая ставка для женщин и мужчин одинакова.")

b)
Отвергаем H0 в пользу H1 => среднечасовая ставка для женщин и мужчин различна.

In [36]:
# H0: популяционная разница в доходах равна 0
# H1: популяционная разница в доходах не равна 0
alpha = 0.05
male_ahe = data[data.female == 0].ahe
male_ahe_mean = np.mean(male_ahe)
female_ahe = data[data.female == 1].ahe
female_ahe_mean = np.mean(female_ahe)
diff = abs(male_ahe_mean - female_ahe_mean)
t_stat = diff / np.sqrt(np.var(male_ahe, ddof=1)/len(male_ahe) + np.var(female_ahe, ddof=1)/len(female_ahe))
print("c)")
if t_stat > scp.t.ppf(1-alpha/2, len(male_ahe) + len(female_ahe) - 2):
    print("Отвергаем H0 в пользу H1 => популяционная разница в доходах женщин и мужчин не равна 0.")
else:
    print("Принимаем H0 => популяционная разница в доходах для женщин и мужчин равна нулю.")

print("Результаты во всех пунктах дают один и тот же ответ")

c)
Отвергаем H0 в пользу H1 => популяционная разница в доходах женщин и мужчин не равна 0.
Результаты во всех пунктах дают один и тот же ответ